<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Images</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.image</string>
            </array>
        </dict>
    </array>
    <key>UTImportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeDescription</key>
            <string>Image</string>
            <key>UTTypeIdentifier</key>
            <string>public.image</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.mime-type</key>
                <array>
                    <string>image/jpeg</string>
                    <string>image/png</string>
                </array>
            </dict>
        </dict>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>tuiportfolio</string>
            </array>
            <key>CFBundleURLName</key>
            <string>jamesphotography.TUI</string>
        </dict>
    </array>
    <key>CFBundleGetInfoString</key>
    <string></string>
    <key>Imported UTIs</key>
    <string>public.jpeg</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>comgooglemaps</string>
    </array>
    <key>LSHandlerRank</key>
    <string>Alternate</string>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
        <key>NSExceptionDomains</key>
        <dict>
            <key>tui.jamesphotography.com.au</key>
            <dict/>
        </dict>
    </dict>
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
    </array>
    <key>UIFileSharingEnabled</key>
    <true/>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
                <string>public.archive</string>
            </array>
            <key>UTTypeDescription</key>
            <string>Tui Backup File</string>
            <key>UTTypeIdentifier</key>
            <string>jamesphotography.TUI.backup</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>tuibackup</string>
                </array>
                <key>public.mime-type</key>
                <array>
                    <string>application/x-tui-backup</string>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
